.custom-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #3e8e41;
}

.custom-button:active {
  background-color: #367c39;
}

.custom-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.custom-button--primary {
  background-color: #2196f3;
}

.custom-button--secondary {
  background-color: #f44336;
}

.custom-button--tertiary {
  background-color: #ffc107;
}

.shadow {
  box-shadow: 2px 2px 10px #00000070;
}
